pydantic==2.9.2
pync==2.0.3
pynput==1.8.2
Pillow==10.4.0
pytesseract==0.3.10
python-dotenv==1.0.1
ollama==0.3.3
requests==2.32.3
imagehash==4.3.1
pygments==2.18.0
pytest==8.3.3
pyobjc-core==12.2.1
pyobjc-framework-Cocoa==12.2.1
pyobjc-framework-Quartz==12.2.1
pyobjc-framework-ApplicationServices==12.2.1
